@import "tailwindcss";
@import "@youngduck/yd-ui/styles";

@theme {
  /* Breakpoints: 모바일(기본), 데스크탑(lg)만 사용 */
  --breakpoint-sm: 640px;
  --breakpoint-lg: 1024px;
}


html,body {
  background-color: var(--color-background-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-yds-wanted);
}

#root {
  width: 100%;
  min-height: 100vh;
}
